<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="login" method="post" action="{% url 'event:welcome' %}">
        {% csrf_token %}
        <table class='table table-striped table-sn'>
            <tr>
                <td>
                    <label for="username">Login</label>
                    <input id="username" name="username">
                </td>
                <td>
                    <label for="password">Mot de passe</label>
                    <input id="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Connexion">
                    <input type="hidden" name="{{next}}">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>