<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    <form id="register" method="post" action="{% url 'event:registered' %}">
        {% csrf_token %}
        <table class='table table-striped table-sn'></table>
        <table>
            <tr>
                <td>
                    <label for="username">Pseudo</label>
                    <input id="username" name="username">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="new_pwd">Nouveau mot de passe</label>
                    <input id="new_pwd" name="new_pwd">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="new_password">Confirmer votre mot de passe</label>
                    <input id="new_password" name="new_password">
                </td>
            </tr>
                <td>
                    <input type="submit" value="Enregistrer">
                    <input type="hidden" name="{{next}}">
                </td>
            </tr>
        </table>
    </form>
    <a href="{% url 'event:index' %}">Retour à l'accueil</a>
</body>